<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ES6实战</title>
    <style media="screen">
        #countdown em {
            font-weight: bold;
            color: #c70000;
        }
    </style>
</head>

<body>
    <p>es6</p>
    <p>慕课网</p>
    <p>火大大</p>
    <script src="/js/index.js" charset="utf-8"></script>
</body>

</html>
